/* Make sure this is at the top of globals.css */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #29d;
	position: fixed;
	z-index: 9999 !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}
